:root {
  --nautiqua-color: #2C5E4F;
  --coral-rescue-color: #4B51DC;
  --pasc-color: #1F1A3C;
  --her-legend-color: #000401;
  --little-night-helpers-color: #02315c;
}

.case-study .project-tag {
  font-size: 13px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 0 10px 10px 0;
}

#little-night-helpers-case-study .active-tag {
  background-color: var(--little-night-helpers-color);
  color: #fff;
}

#little-night-helpers-case-study {
  color: var(--little-night-helpers-color);
}

#little-night-helpers-case-study a {
  color: var(--little-night-helpers-color);
  text-decoration: underline;
}

#her-legend-case-study .active-tag {
  background-color: var(--her-legend-color);
  color: #fff;
}

#her-legend-case-study a {
  color: var(--her-legend-color);
  text-decoration: underline;
}

#nautiqua-case-study .active-tag {
  background-color: var(--nautiqua-color);
  color: #fff;
}

#coral-rescue-case-study .active-tag {
  background-color: var(--coral-rescue-color);
  color: #fff;
}

#pasc-case-study .active-tag {
  background-color: var(--pasc-color);
  color: #fff;
}

.extra-content {
  background-image: url('../images/bg-tile.png');
  border-top: 1px solid #DFDFDF;
  background-attachment: fixed;
}

.extra-content-item img {
  transition: 500ms ease-out;
}

.extra-content-item img:hover {
  transform: scale(1.05);
}

#nautiqua-case-study {
  color: var(--nautiqua-color);
  background-color: #fff;
}

#nautiqua-case-study .project-tag {
  border-color: var(--nautiqua-color);
}

#nautiqua-stats {
  background-color: #2C5E4F;
  background-image: url(../images/nautiqua/nautiqua-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#nautiqua-product {
  background-image: url(../images/nautiqua/nautiqua-thumbnail.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#nautiqua-installation {
  background-image: url(../images/nautiqua/nautiqua-installation.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#nautiqua-case-study a {
  color: var(--nautiqua-color);
  text-decoration: underline;
}

#coral-rescue-case-study {
  color: var(--coral-rescue-color);
  background-color: #fff;
}

#coral-rescue-case-study .project-tag {
  border-color: var(--coral-rescue-color);
}

#coral-rescue-case-study a {
  color: var(--coral-rescue-color);
  text-decoration: underline;
}

#cr-sketches {
  background-image: url(../images/coral-rescue/cr-5.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#pasc-case-study {
  color: var(--pasc-color);
}

#pasc-case-study a {
  color: var(--pasc-color);
  text-decoration: underline;
}

/* text start */

/* small headings */
h5 {
  font-size: 12px;
  line-height:1;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: italic;
}

/* big headings */
h6 {
  font-size: 30px;
  line-height: 42px;
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.bigger-body {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
}

.citation {
  font-size: 12px;
  font-weight: 400;
}

/* text finish */

/* content start */

.rounded-img {
  border-radius: 15px;
}

.img-wrapper {
  padding: 30px 30px 0;
}

.tool-icon {
  height: 17px;
  padding:2px 5px 0 0;
  float:left;
}

.thick-padding {
  padding: 80px;
}

.mid-padding {
  padding: 40px;
}

.thin-padding {
  padding: 10px;
}

.thick-top {
  margin-top: 80px;
}

.mid-top {
  margin-top: 40px;
}

.small-top {
  margin-top: 20px;
}

.stat {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.stat-text {
  font-size: 26px;
  line-height: 36px;
  font-weight: 300;
}

/* content finish */

@media only screen and (max-width:980px) {

  #nautiqua-stats {
    background-attachment: unset;
  }
  #nautiqua-product, #nautiqua-installation {
    background-attachment: unset;
    height: 50vh;
  }

  .img-wrapper {
    padding: 20px 20px 0;
  }
  .img {
    height: 260px;
  }
  .thick-padding {
    padding: 20px;
  }
  .mid-padding {
    padding: 20px 10px;
  }
  .thick-top, .mid-top {
    margin-top: 20px;
  }
  .stat-text {
    font-size: 18px;
    line-height: 26px;
  }
  
}